* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background: #ffc57e;
  color: rgb(40, 33, 33);
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
}

.new-item-form,
.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  color: hsl(198, 14%, 14%);
  text-align: center;
}

.btn {
  background: rgba(200, 100, 50, 0.1);
  border: 1px solid hsl(210, 4%, 10%);
  color: hsl(198, 14%, 14%);
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: rgba(200, 100, 50, 0.2);
}

.btn.del-b {
  background: rgba(0, 100, 40, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: rgba(210, 8, 8, 0.54);
}

.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(0, 0%, 100%);
  border-radius: 0.25em;
  padding: 0.5em;
  color: #000000;
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: hsl(200, 100%, 90%);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: hsl(200, 100%, 80%);
}

.list li:has(input:checked) label::before {
  content: "x";
  background: hsl(200, 100%, 40%);
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: hsl(200, 100%, 30%);
}
